.filterBox{
    position: absolute;
    background: #ffffff;
    box-shadow: -2px 4px 4px rgba(0, 0, 0, 0.25);
    border-width: 2px;
    border-radius: 5px;
    width: 180px;
    max-width: 200px;
    min-width: 180px;
    z-index: 5;
}

.filterBox > ul > li{
    display: flex;
    justify-content: space-between;
    padding-inline: 10px;
    vertical-align: middle;
    margin-block: 4px;
}

.aplicar-filtro {
    margin: 10px;
}

.number-box {
    background-color:rgba(150, 150, 150, 0.25);
    width: 70px;
    text-align: center;
}

.column-values {
    height: 200px;
    overflow-y: scroll;
}

.column-values::-webkit-scrollbar {
    -webkit-appearance: none;
}

.column-values::-webkit-scrollbar:vertical {
    width: 11px;
}

.column-values::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}
