.columna{
    width: 30vw;
    height: 55vw;
}

.columnaMedia{
    margin-top: .8vw;
    width: 30vw;
    height: 45vw;
}

.containerRelacionar{
    margin-top: 2vw;
    margin-bottom: 2vw;
    height: 50vw;
    width: 30vw;
}

.containerDotted{
    background-color: white;
    border: dotted;
    height: 44vw;
    width: 23vw;
    margin:auto;
    margin-top: 3vw;
}

.tituloAtributo{
    margin: 1vw !important;
    padding-top: 1vw;
    color: #771500;
}

.containerSubido{
    margin:auto;
    margin-top: 2vw !important;
    margin-bottom: 2vw !important;
    background-color: #F9F9F9 !important;
    padding-top: 2px !important;
    height: 3vw;
    width: 22vw;
}

.containerSeleccionado{
    margin:auto !important;
    margin-top: 0vw !important;
    margin-bottom: 1vw !important;
    height: 3vw !important;
    width: 22vw !important;
}

.containerDottedFecha{
    background-color: white;
    border: dotted;
    height: 4.5vw;
    width: 24vw;
    margin:auto;
    margin-top: 3vw;
}

.columnaFecha{
    width: 30vw;
    height: 15vw;
    margin: auto;
    margin-bottom: 3vw;
    margin-top: 3vw;
}

.centrarTexto{
    display:flex;
    align-items: center;
    justify-content: center;
}

.alinearDerecha{
    text-align: right;
}

h5{
    font-size: 1.1em !important;
    font-weight: 500 !important;
}

.backgroundNaranjaClaro{
    background-color: #FFE5DA;
}

.backgroundAmarilloClaro{
    background-color: #FFFBD3;
}

.backgroundAzulClaro{
    background-color: #F3F6FF;
}


.containerColumnas{
    margin: 3vw;
}

.buscar{
    height: 3vw !important;
    width: 25vw !important;
    margin: auto;
    margin-top: 1vw;
}

.containerFecha{
    margin-top: 2vw;
    margin-bottom: 2vw;
    height: 10vw;
    width: 30vw;
}

#centerTitle{
    text-align:center;
}


.columnaMedia::-webkit-scrollbar {
    width: .2vw;               /* width of the entire scrollbar */
}
.columnaMedia::-webkit-scrollbar-track {
background: #F3F6FF;        /* color of the tracking area */
}
.columnaMedia::-webkit-scrollbar-thumb {
background-color: #1D2533;    /* color of the scroll thumb */
border-radius: 20px;       /* roundness of the scroll thumb */  /* creates padding around scroll thumb */
}

.containerDotted::-webkit-scrollbar {
    width: .2vw;               /* width of the entire scrollbar */
}
.containerDotted::-webkit-scrollbar-track {
background: #F3F6FF;        /* color of the tracking area */
}
.containerDotted::-webkit-scrollbar-thumb {
background-color: #DFDFDE;    /* color of the scroll thumb */
border-radius: 10px;       /* roundness of the scroll thumb */  /* creates padding around scroll thumb */
}
