.masterMenu{
position: absolute;
}

.filterMenu{
    position: absolute;
    display: block;
    width: 180px;
    max-width: 200px;
    min-width: 180px;
    margin: 0; 
    padding: 0;
    border-width: 0px;
    background: #FFFFFF;
    box-shadow: -2px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.filterMenu--list{
    position: relative;
    text-indent: 3px;
    margin: 0; padding: 0;
}
.filterMenu--listItem{
    position: relative;
}
.filterMenu--option{
    position: relative;
    text-align: left;
    margin: 0;
    padding: 5px 10px 5px 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #000000;
}
.filterMenu--option:hover {
    background-color: rgba(0, 0, 0, 0.14);
    cursor: pointer;
  }

.subMenu{
    float: right;
    position: absolute;
    list-style: none;
    left: 100%;
    top: 0%;
    display: block;
    width: 180px;
    max-width: 200px;
    min-width: 180px;
    margin: 0; 
    padding: 0;
    border-width: 0px;
    background: #FFFFFF;
    box-shadow: -2px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.subMenu--list{
    text-indent: 3px;
    margin: 0; padding: 0;
}

.subMenu--list > li{
    text-align: left;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #000000;
}

.axisVariableSection{
    padding: 5px 10px 5px 10px;
    color: #667080;
}

.axisVariablePicker{
    background: #FFFFFF;
    border: 1px solid #667080;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 5px;
    margin: 0px;
}