td {
    text-align: center !important;
}

th {
    text-align: center !important;
}

.table {
    margin-top: 20px !important;
}

.header {
    display: inline;
}

.filterIcon {
    margin-left: 10px;
}

.filterApplied {
    color: #F25C29;
}