td, th {
    text-align: center !important;
    margin-right: 10px !important;
    padding-right: 30px !important;
    /* border-right: 10px solid black;
    border-right-color: transparent; */
}

.table {
    margin-top: 0px !important;
}

.header {
    display: inline;
}

.filterIcon {
    margin-left: 10px;
}

.filterApplied {
    color: #F25C29;
}

.table-responsive {
    position:relative;
}

.tableFixHead thead { position: sticky; top: 0; z-index: 1; }
